@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Public+Sans&display=swap');

:root {
    --primary-color: #DAE7F2;
    --secondary-color: #CEB777;
    --accent1-color: #1C74C4;
    --accent2-color: #442B48;
    --gradient: linear-gradient(135deg, #C31A86 8%, #933FA0 50%, #00ADEE 92%);
    --gradient2: linear-gradient(135deg, #CEB777 8%, #1C74C4 50%, #442B48 92%);  

    --heading-font: "Public Sans", "Arial", sans-serif !important;
    --paragraph-font: "Open Sans", "Times New Roman", sans-serif !important;

    --headline-color-on-white: #1C74C4;
    --headline-color-on-color: #1C74C4;
    --paragraph-color-on-white: #442B48;
    --paragraph-color-on-color: white; 
    --paragraph-background-color: #CEB777  ;
    --nav-link-color: #1C74C4;
    --nav-background-color: #DAE7F2;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #1C74C4;
}
body {
    font-family: var(--paragraph-font);
    font-size: 22px;
    background-color: black;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
}
header {
    background-image: var(--gradient2);
    padding: 8px;
    text-align: center;
}
.logo {
    display: inline-block;
    width: 80px;
    padding-top: 5px;
    transition: transform .2s;
}
.logo:hover {
    transform: scale(1.5);
    padding: 15px;
}
nav {
    
    display: block;
    text-align: center;
    margin: 0 auto;
}
.black_background a {
    font-family: var(--paragraph-font);
    font-size: 1.05em;
    padding: 5px;
    text-decoration: none;
    display: inline;
    
}
/* Me trying to get the black backround with gradient font color
.black_background {
    display: inline;
} */
/* .black_background:hover {
    resize: content-box;
    margin: 0;
    padding: 0;
    display: inline;
    background-color: black;
    background-clip: text;
} */
nav a:hover {
    color: var(--primary-color);
    /* 
nav a:hover {
    background-color: black;
    color: var(--primary-color); 
    border: solid var(--primary-color) 2px;
    border-radius: 6px;
    font-size: 1.58em;
    transform: scale();

    background-color: black;
    border: solid var(--primary-color) 2px;
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
}*/
}
.hero-img {
    display: flex;
    width: 100%;
    max-height: 700px;
    background-position: bottom;
}
.home-title {
    font-size: 3em;
    margin-top: 10px;
    font-family: var(--heading-font);
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;

}
h4 {
    font-size: 2em;
    font-family: var(--heading-font);
    background-image: var(--gradient2);
    color: black;
    text-align: center;
}
.emphasize {
    font-style: italic;
}
.small_font {
    font-size: .5em;
}
.book, .join {
    display: block;
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 50px;
    text-align: center;
    margin: 0 auto;
    margin-left: 30%;
    margin-right: 30%;
    background-color: var(--primary-color);
    border: solid var(--accent1-color) 2px;
    border-radius: 6px;
    text-decoration: none;
    transition: transform .2s;
    margin-bottom: 25px;
}
.book:hover, .join:hover {
    background-image: var(--gradient2);
    color: var(--primary-color);
    transform: scale(1.5);
}
main section img {
    box-sizing: border-box;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.card-img {
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}
.icon {
    padding-top: 10px;
    margin: 0 auto;
    display: block;
}
.home-grid h2 {
    font-size: 2em;
    font-family: var(--heading-font);
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin: 0;
}
footer {
    background-image: var(--gradient2);
    padding: 25px 50px;
    margin-top: 150px;
    margin-bottom: 15px;
}
footer a {
    text-decoration: none;
    display: inline;
}
footer a:hover {
    color: var(--primary-color);
}
.social img {
    padding-bottom: 15px;
    margin-bottom: -47px;
    display: inline;
    border-radius: 10%;
    margin-left: 10px;
}
.gradient_bar {
    size: 200px 200px;
    background-color: black;
}
.msg h2 {
    font-size: 2em;
    font-family: var(--heading-font);
    background-image: var(--gradient2);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}
.msg p {
    font-size: .8em;
    color: var(--primary-color);
    line-height: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
}