@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300&family=Vina+Sans&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #DAE7F2   ;
    --secondary-color: #CEB777 ;
    --accent1-color: #1C74C4;
    --accent2-color: #442B48;
  
    /* change the values below to your chosen font(s) */
    --heading-font: Vina Sans, sans-serif;
    --paragraph-font: Gantari, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #1C74C4;  /* headlines on a white background */ 
    --headline-color-on-color: 1C74C4; /* headlines on a colored background */ 
    --paragraph-color-on-white: #442B48; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #CEB777  ;
    --nav-link-color: #1C74C4;
    --nav-background-color: #DAE7F2;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #1C74C4;
  }
/* * {
    color: black;
} */
body {
    background-color: rgba(245, 245, 245, 0.5);
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #ceb777;
}
.logo {
    width: 80px;
}
    
nav a {
    text-align: center;
    background-color: whitesmoke;
    color: #1C74C4;
    text-decoration: none;
}
nav a:hover {
    background-color: #1C74C4;
    color: whitesmoke;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
        background-color: #dae7f28c
}
.hero-img {
    width: 100%;
}


#background {
    height: 725px;
    background-color: whitesmoke;
    opacity: 0.3;
}
main section {
    text-align: center;
}

h1, h2 {
color: #1C74C4;
}
.home-title {
    background-color: #DAE7F2;
    color: #1C74C4;
}
h4 {
    background-color: #DAE7F2;
    color: #1C74C4;
}
.button-box {
    text-align: center;
}
.book, .join {
    background-color: #DAE7F2;
    color: #1C74C4;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #1C74C4;
    color: whitesmoke;
}

.icon {
    width: 80px;
}

.msg {
    background-color: #DAE7F2;
}
.msg h2 {
    color: #1C74C4;
}
.msg p {
    color: black;
}

footer {
    background-color: #ceb777;
    color: black;
}
footer a {
    text-align: center;
    background-color: whitesmoke;
    color: #1C74C4;
    text-decoration: none;
}
footer a:hover {
    background-color: #1C74C4;
    color: whitesmoke;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.footer_logo_a {
    background-color: #ceb777;
}
.footer_logo_a:hover {
    text-decoration: none;
}
